RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

#AuthUserFile "/usr/www/users/idiomx/service/src/yii2-irx/web/.htpasswd"
#AuthName "Realm"
#AuthType Basic
#require valid-user
